bin/
obj/
out/

.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

*.log

*.nupkg
*.snupkg
packages/
.nuget/

.DS_Store
Thumbs.db

TestResult*/
*.coverage
*.coveragexml

.dotnet-tools/

.idea/

src/StockAlert.Infra/appsettings.json
